@model WebApp.Models.Module
<div class="card">
    <div class="card-header">
        <h2 class="card-title">@Model.Code - @Model.Name</h2>
    </div>
    <div class="card-body">
        <table class="table table-bordered">
            <thead class="table-dark">
                <tr><th>Profressor</th><th>FullName</th></tr>
            </thead>
            <tbody>
                @*@foreach (WebApp.Models.ModuleProfessor item in Model.ModuleProfessors)
                    {
                    <tr>
                        <td>@item.ProfessorId</td>
                        <td>@item.Professor.FullName </td>
                    </tr>
                    }*@

                @foreach (WebApp.Models.Professor item in ViewBag.professorsModule)
                {
                    <tr>
                        <td>@item.FullName</td>
                    </tr>
                }
            </tbody>
        </table>

        <form method="post">
            <div>
                <label>Professor</label>
                <select class="form-control" name="professorId" multiple>
                    @foreach (WebApp.Models.Professor item in ViewBag.professors)
                    {
                        <option value="@item.Id">@item.FullName</option>
                    }
                </select>
            </div>
            <div>
                <button>Save changes</button>
            </div>
        </form>
    </div>
</div>

<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script>
    $('select[name="professorId"]').select2();
</script>