@model List<WebApp.Models.Ward>
<ul class="pagination">
    @{int p = ViewContext.RouteData.Values["Id"] != null ? Convert.ToInt32(ViewContext.RouteData.Values["id"]) : 1;}
    @for (int i = 1; i <= ViewBag.total; i++)
    {
        @if (p == i)
        {
            <li class="page-item active">
                <a class="page-link" href="/dashboard/ward/index/@i">@i</a>
            </li>
        }
        else
        {
            <li class="page-item">
                <a class="page-link" href="/dashboard/ward/index/@i">@i</a>
            </li>
        }
    }
</ul>


<table class="table table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>District Id</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
         {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.DistrictId</td>
        </tr>
         }
    </tbody>

</table>