@model List<Image>


<a class="btn btn-primary" href="/dashboard/image/create">Create</a>
<a class="btn btn-primary" href="/dashboard/image/multiple">M Create</a>
<a class="btn btn-primary" href="/dashboard/image/icon">Icon</a>
<a class="btn btn-primary" href="/dashboard/image/ajax">Ajax</a>
<a class="btn btn-primary" href="/dashboard/image/webcam">Webcam</a>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>id</th>
            <th>Original</th>
            <th>Url</th>
            <th>Type</th>
            <th>Size</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Original</td>
                <td>@item.Url</td>
                <td>@item.Type</td>
                <td>@item.Size</td>
                <td>@item.Id</td>             
            </tr>
        }
    </tbody>
</table>
