@model WebApp.Models.Member
    <h1 class="mt-4">Add Role to Member</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="/dashboard/member">Member</a></li>
        <li class="breadcrumb-item active">roles</li>
    </ol>


    <div class="card">
        <div class="card-header">
            <div class="card-title">@Model.Username</div>
        </div>

        <div class="card-body">
            <table class="table-bordered table">
                <thead class="table-dark">
                    <tr>
                        <th>Role</th>
                        <th>Checked</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (WebApp.Models.RoleChecked item in ViewBag.roles)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>
                                @if (item.Checked)
                                {
                                    <input class="c" type="checkbox" value="@item.Id" checked />
                                }
                                else
                                {
                                    <input class="c" type="checkbox" value="@item.Id" />
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <script>
    $('.c').click(function () {
        var rid = $(this).val();
        var o = { roleId: rid, memberId: '@Model.Id' };
        console.log(o);
        $.post('/dashboard/member/addrole', o, (d) => {
            console.log(d);
        });
    });
    </script>